.starfall-screen {
  overflow: hidden;
}

.start-btn {
  margin-top: 50px;
}

.start-btn button {
  background-color: #d69cdc;
  border: none;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  font-weight: bold;
  border-radius: 8px;
}

.start-btn button input {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  max-width: 100px;
  height: 40px;
}

.intro-text {
  position: absolute;
  width: 100%;
  top: 46%;
  transform: translate(0, -50%);
  text-align: center;
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  color : rgb(253, 247, 247);
}

.intro-text .intro-title {
  font-size: 28px;
}

.intro-subtitle {
  font-size: 11px;
  color : rgb(151, 151, 151);
  margin-top : 0.5px;
}

.intro-text p {
  font-size: 16px;
  line-height: 30px;
}

#visits {
  font-weight: bolder;
  font-size : 17.5px;
}

.uploadImg {
  display: none;
}
