<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/responsive.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>Map-upload</title>


    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/exif-js"
    ></script>
    <script
      type="text/javascript"
      src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=	7c9d50cde7a1ab18aa545ca41e81e846"
    ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/exif-js"></script> 
    <script src="../js/starData.js"></script>
    <script src="../js/kakaoMap.js"></script>

  </head>
  <body>
    <section class="rendering-container">
      <nav>
        <span class="nav-title">STARGRAM</span>
      </nav>

      <div id="map" class="container"></div>
      <br />
      <a href="./star-upload.html">draw</a>
    </section>
  </body>
</html>
