<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/responsive.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/pinned.css" />
    <title>Map-upload</title>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/exif-js"
    ></script>
    <script
      type="text/javascript"
      src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=	7c9d50cde7a1ab18aa545ca41e81e846"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/exif-js"
    ></script>
    <!-- <script src="../js/starData.js"></script> -->
    <script src="../js/kakaoMap.js"></script>
  </head>
  <body>
    <section class="rendering-container">
      <nav>
        <span class="nav-title nav-title-keyframes">STARGRAM</span>
      </nav>
      <div id="map" class="container"></div>
      <div class="discription">
        <div>이제 지도에 나온 위치를 이어서 별자리를 만들거에요ㅎㅎ</div>
        <div>동서남북으로 쫙쫙 늘려서 만들어지니 모양을 잘 기억해봐요!</div>
      </div>
      <button class = "next-btn" onclick="clickToStar()">별자리 보기</button>
    </section>
    <script>
      function clickToStar() {
          localStorage.setItem('isCluster', 1);
          location.href = './star-upload.html'
        }
    </script>
  </body>
</html>
