<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/responsive.css" />
    <link rel="stylesheet" href="../css/style.css" />


    <title>Photo-upload</title>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/exif-js"></script>   
    <script src="../js/photoData.js"></script>
     
  </head>
  <body>
    <section class="rendering-container">
      <nav>
        <span class="nav-title">STARGRAM</span>
      </nav>

      <form action="javascript:writeDate()">
        <p>여행 날짜 : <input type="date" name="date_start" id="date_start"><input type="date" name="date_end" id="date_end"></p>
        <p>여행지 : <input type="text" name="place" id="place"></p>
        <p><input type="file" multiple id="uploadFile" onChange="uploadImgPreview();" accept="image/*"></p>
        <p>한줄 소감 : <input type="text" name="impression" id="impression"></p>
        <br>
        <!-- <input type="hidden" name="metadata" id="metadata"> -->
        <div id="metadata" style="display:none;"></div>
        <button type="submit">submit</button>
      </form>

      <a href="./star-upload.html">draw</a>
    </section>
  </body>
</html>
