<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/responsive.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/pinned.css" />
    <title>클릭한 위치에 마커 표시하기</title>
  </head>

  <body>
    <section class="rendering-container">
      <nav>
        <span class="nav-title">STARGRAM</span>
      </nav>

      <div id="map"></div>
      <div class="discription">해당 사진을 촬영하신 장소를 선택해주세요 !</div>
    </section>

    <script
      type="text/javascript"
      src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=7c9d50cde7a1ab18aa545ca41e81e846"
    ></script>
    <script src="../js/dbDAO.js"></script>
    <script src="../js/pinned.js"></script>
    <script>
      pinned_main();
    </script>
  </body>
</html>
